static constexpr const char *WIFI_SSID = "Example";
static constexpr const char *WIFI_PASSWORD = "Password";
static constexpr const char *MQTT_HOSTNAME = "mqtt.example";
static constexpr int MQTT_PORT = 1883;
static constexpr const char *MQTT_TOPIC = "dali";
static constexpr const char *IRC_CHANNEL = "#example";
static constexpr const char *OTA_URL = "https://example.test/firmware.bin";
